<div class="col-sm-2 pull-right">
	<hr>
		<a href="/customer/edit" class="btn btn-primary"><span class="fa fa-edit"></span>Edit Profile</a>
		<a href="/formupdateid" class="btn btn-primary"><span class="fa fa-edit"></span>Edit Profile With ID</a>
	<hr>
</div>	
<h1>User Home</h1>
<h2>Welcome, {{username}}!</h2>
<p>This is your account home.  Welcome home.</p>

<hr>
<h3>Click to log out</h3>
<a href="/logout" class="btn btn-primary"><span class="fa fa-logout"></span>LogOut</a>
<hr>
