<div class="col-sm-2 pull-right">
	<hr>
		<h5>Click to log in</h5>
		<a href="/register" class="btn btn-primary"><span class="fa fa-login"></span>Login/Register</a>
	<hr>	
</div>			

<h1>Welcome to Meadowlark Travel</h1>
<h2>Check out our featured tour packages:</h2>
<ul>
	<li><a href="/vacation/hood-river-day-trip">Hood River Day Trip</a></li>
	<li><a href="/vacation/oregon-coast-getaway">Oregon Coast Getaway</a></li>
	<li><a href="/vacation/rock-climbing-in-bend">Rock Climbing in Bend</a></li>
	<!--<li><a href="/tours/hood-river">Hood River</a></li>
	<li><a href="/tours/oregon-coast">Oregon Coast</a></li>
	<li><a href="/adventures/rock-climbing/bend">Rock Climbing in Bend</a></li>-->
</ul>
{{> weather}}